body {
  color: #eee;
  background-color: #444;
  font-family: "courier";
  text-align: center;
}

canvas {
  border: 6px solid #555;
}

a {
  color: #aaa;
  text-decoration: underline;
}

.game-version {
  color: #888;
  margin-top: 1rem;
}
